button {
  width: 225px;
}
.stats {
  position: absolute;
  left: 80%;
  width: 20%;
  bottom: 0%;
  border: 1px solid black;
}
.game {
  position: absolute;
  left: 0%;
  width: 80%;
  bottom: 0%;
}
.inventory {
  position: absolute;
  left: 50%;
  width: 50%;
  top: 0%;
  border: 1px solid black;
}
